* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}

/* header */

header {
    background-color: #003049;
    color: white;
    padding: 1rem;
}

header h1 {
    text-align: center;
}

/* hamburger */

#menu-button {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* nav */

.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
}

.navigation.open {
    display: flex;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    background-color: #fcbf49;
    color: black;
}

/* main */

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

main h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* gallery */

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    background: white;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

figure img {
    width: 100%;
    display: block;
}

figcaption {
    padding: .5rem;
    text-align: center;
    font-weight: bold;
}

/* footer */

footer {
    background-color: #003049;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: .5rem;
}

#lastModified {
    color: yellow;
    font-size: 0.9rem;
    display: block;
}